body,
#banner {
  color: #999;
  background: #212121 !important;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
td {
  color: #999;
}

#top_menu a,
#footer a,
a:visited {
  color: #999;
  text-decoration: underline;
}

a.bookmark_title {
  color: #789;
}

a.bookmark_title.unread {
  color: #9e4a2e;
}

input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="text"],
textarea {
  background: #bbb !important;
}

.bookmark.private {
  background: #111 !important;
}
